<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>killua</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
	  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body class="bg_pastel_blue">
	 <nav>
    <div class="nav-wrapper purple accent-2">
      <a href="#" class="brand-logo">Home</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
        
	<div class="testshape">
		<h1>Hello World</h1>
		<p>This is my first webapp.</p>
	</div>
	
	<div class="testshape">
		<h1>This is a Heading</h1>
		<p>This is a paragraph.</p>
	</div>


</body>
</html>
