	  {% extends "Theme.html" %}

    {% block content %}
	  <div class="testshape">
		<h1>Jay's Shop</h1>
		<p>Welcome to my first shop buy what you see.</p>
	</div>

    <table>
        <thead>
          <tr>
              
              <th>Item Name</th>
              <th>Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            
            <td>Love</td>
            <td>$9000</td>
          </tr>
          <tr>
            
            <td>Trust</td>
            <td>$4000</td>
          </tr>
          <tr>
            
            <td>loyalty</td>
            <td>$10,000</td>
          </tr>
          <tr>

          	<td>Family</td>
            <td>$5000</td>
          </tr>
          <tr>

          	<td>Attention</td>
            <td>$7000</td>
          </tr>
          <tr>

          	<td>FriendShip</td>
            <td>$2000</td>
          </tr>

          <td>Life</td>
            <td>$20,000</td>
          </tr>
          <tr>

          	<td>GirlFriend</td>
            <td>$1000</td>
          </tr>
          <tr>

          	<td>BoyFriend</td>
            <td>$1000</td>
          </tr>

        </tbody>
      </table>

	

  <a id="test_btn1" class="waves-effect waves-light btn">test button</a>
<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
<a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>

<ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">Back</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">Next</i></a></li>
  </ul>
  
  {% endblock %}