  {% extends "Theme.html" %}

    {% block content %}
<table>
        <thead>
          <tr>
              
              <th>Item Name</th>
              <th>Item Price</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            
            <td>Nike</td>
            <td>$900</td>
          </tr>
          
          <tr>

            
            <td>Adidas</td>
            <td>$300</td>
          </tr>
          
          <tr>
            
            <td>Reebok</td>
            <td>$600</td>
          </tr>
          
          <tr>

          	<td>FILA</td>
            <td>$500</td>
          </tr>
          
          <tr>

          	<td>PUMA</td>
            <td>$700</td>
          </tr>
          
          <tr>

          	<td>Bata</td>
            <td>$200</td>
          </tr>

          <td>Red Tape</td>
            <td>$200</td>
          </tr>
          <tr>

          	<td>Lancer</td>
            <td>$100</td>
          </tr>
          
          <tr>

          	<td>Lee Cooper</td>
            <td>$700</td>
          </tr>

        </tbody>
      </table>

  {% endblock %}