<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Killua</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
	  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body class="cyan lighten-2">

<nav>
    <div class="nav-wrapper purple accent-2">
      <a href="/" class="brand-logo">Home</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/Shoes">Shoes</a></li>
        <li><a href="/Clothes">Clothes</a></li>
        <li><a href="/Music">Music</a></li>
      </ul>
    </div>
  </nav>


{% block content %}
  {% endblock %}

<script type="text/javascript" src="{{ url_for('static', filename='js/script1.js') }}"></script>

</body>
</html>